# Ignore this stupid file that MacOS creates in every folder
.DS_Store

# Dependency folders
node_modules/

# Environment variables files
.env

# Do not commit !!!!
credential.json
presentation.json
request.json
verification_result.json